<a href="https://colab.research.google.com/github/beesaprathyusha20/Machine_Learning/blob/main/JIO_MART(Basic%20EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #importing pandas library

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/jio_mart_items.csv')
df #Reading the dataset and displaying it

,category,sub_category,href,items,price
0,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Fresh Dates (Pack) (Approx 450 g - 500 g),109.0
1,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Tender Coconut Cling Wrapped (1 pc) (Approx 90...,49.0
2,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Mosambi 1 kg,69.0
3,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Orange Imported 1 kg,125.0
4,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Banana Robusta 6 pcs (Box) (Approx 800 g - 110...,44.0
...,...,...,...,...,...
162308,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 5.6 gm Ganesha Silver ...,1669.0
162309,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 4.58 gm Ganesha Silver...,1391.0
162310,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver...,834.0
162311,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver...,2276.0
162312,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol,834.0

BASIC EDA

In [3]:
df.head() #displaying first five rows of the data

,category,sub_category,href,items,price
0,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Fresh Dates (Pack) (Approx 450 g - 500 g),109.0
1,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Tender Coconut Cling Wrapped (1 pc) (Approx 90...,49.0
2,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Mosambi 1 kg,69.0
3,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Orange Imported 1 kg,125.0
4,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Banana Robusta 6 pcs (Box) (Approx 800 g - 110...,44.0

In [4]:
df.tail() #displaying last five rows of the data

,category,sub_category,href,items,price
162308,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 5.6 gm Ganesha Silver ...,1669.0
162309,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 4.58 gm Ganesha Silver...,1391.0
162310,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver...,834.0
162311,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver...,2276.0
162312,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol,834.0

In [5]:
df.shape #displaying the rows(162313) and columns(5) of the data

(162313, 5)

In [6]:
df.count() #displaying the count of the data

category        162313
sub_category    162313
href            162313
items           162280
price           162282
dtype: int64

In [7]:
df.dtypes #displaying the datatypes of the features in the dataset

category         object
sub_category     object
href             object
items            object
price           float64
dtype: object

In [8]:
df.info() #displaying complete information of the features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162313 entries, 0 to 162312
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      162313 non-null  object
 1   sub_category  162313 non-null  object
 2   href          162313 non-null  object
 3   items         162280 non-null  object
 4   price         162282 non-null  float64
dtypes: float64(1), object(4)
memory usage: 6.2+ MB

In [9]:
df.describe() #displaying the statistical information about the numerical feature i.e price

              price
count  1.622820e+05
mean   1.991633e+03
std    1.593479e+04
min    5.000000e+00
25%    2.840000e+02
50%    4.990000e+02
75%    9.990000e+02
max    3.900000e+06

In [12]:
df.duplicated() #checking whether there are any duplicates in the datset and we have no duplicates

0         False
1         False
2         False
3         False
4         False
          ...
162308    False
162309    False
162310    False
162311    False
162312    False
Length: 162313, dtype: bool

In [10]:
df.isnull().sum() #checking for the null values and we came to know the items and price jave 33 and 31 values respectively

category         0
sub_category     0
href             0
items           33
price           31
dtype: int64

In [13]:
df['price'] = df['price'].fillna(df['price'].mean())
#filling the missing values for numerical data using mean

In [14]:
df.isnull().sum()

category         0
sub_category     0
href             0
items           33
price            0
dtype: int64

In [15]:
df['items'] = df['items'].fillna(df['items'].mode()[0])
#filling the missing values of items(categorical feature) using mode

In [16]:
df.isnull().sum() #As we can see there are no null values

category        0
sub_category    0
href            0
items           0
price           0
dtype: int64

In [17]:
df.to_csv('JIO_MART.csv') #downloaded the updated csv file